---

- name: Configure keepalived
  ansible.builtin.template:
    src: keepalived.conf.j2
    dest: "{{ keepalived_config_directory_path }}/{{ keepalived_config_base_file }}"
    mode: "0640"
  notify:
    - reload keepalived

- name: Configure keepalived script
  ansible.builtin.template:
    src: keepalived_script.conf.j2
    dest: "{{ keepalived_config_directory_path }}/scripts/{{ item.key }}.conf"
    mode: "0640"
  when:
    - keepalived_scripts is defined
    - item.value.state | d('present') == 'present'
  loop: "{{ keepalived_scripts | dict2items }}"
  notify:
    - reload keepalived

- name: Configure keepalived sync_groups
  ansible.builtin.template:
    src: keepalived_sync_groups.conf.j2
    dest: "{{ keepalived_config_directory_path }}/sync_groups/{{ item.key }}.conf"
    mode: "0640"
  when:
    - keepalived_sync_groups is defined
    - item.value.state | d('present') == 'present'
  loop: "{{ keepalived_sync_groups | dict2items }}"
  notify:
    - reload keepalived

- name: Configure keepalived instances
  ansible.builtin.template:
    src: keepalived_instances.conf.j2
    dest: "{{ keepalived_config_directory_path }}/instances/{{ item.key }}.conf"
    mode: "0640"
  when:
    - keepalived_instances is defined
    - item.value.state | d('present') in ['present', 'MASTER', 'BACKUP']
  loop: "{{ keepalived_instances | dict2items }}"
  notify:
    - reload keepalived

- name: Configure keepalived service groups
  ansible.builtin.template:
    src: keepalived_virtual_server_groups.conf.j2
    dest: "{{ keepalived_config_directory_path }}/groups/{{ item.name }}.conf"
    mode: "0640"
  when:
    - keepalived_virtual_server_groups is defined
    - item.name.state | d('present') == 'present'
  loop: "{{ keepalived_virtual_server_groups }}"
  notify:
    - reload keepalived

- name: Configure keepalived single services
  ansible.builtin.template:
    src: keepalived_single_services.conf.j2
    dest: "{{ keepalived_config_directory_path }}/services/single_{{ item.ip | replace('.', '_') }}.conf"
    mode: "0640"
  when:
    - keepalived_virtual_servers is defined
    - item.ip.state | d('present') == 'present'
  loop: "{{ keepalived_virtual_servers }}"
  notify:
    - reload keepalived

- name: Configure keepalived group services
  ansible.builtin.template:
    src: keepalived_group_services.conf.j2
    dest: "{{ keepalived_config_directory_path }}/services/group_{{ item.name }}.conf"
    mode: "0640"
  when:
    - keepalived_virtual_server_groups is defined
    - item.name.state | d('present') == 'present'
  loop: "{{ keepalived_virtual_server_groups }}"
  notify:
    - reload keepalived
