#jinja2: lstrip_blocks: True
{#
# Copyright 2015, Jean-Philippe Evrard <jean-philippe@evrard.me>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-#}
{% if keepalived_show_ansible_managed|bool %}
{{ ansible_managed | comment }}
{% endif %}

{% set vserver_group = item %}
virtual_server group {{ vserver_group.name }} {
  {# set variable to prevent duplicate code for the same task #}
  {% set vserver = vserver_group %}
  {% include './templates/keepalived-virtual-server.j2' %}
  {% for rserver in vserver_group.real_servers %}
  real_server {{ rserver.ip }} {{ rserver.port }} {
    {% include './templates/keepalived-real-server.j2' %}
    {% include './templates/keepalived-checks.j2' %}
  }
  {% endfor %}
}
